{% extends "base.html" %}
{% block content %}

<h1 id="about" style="font-family: 'Orbitron', sans-serif; text-align: center;">ABOUT PITCHES</h1>
<div class="container">
    <div class="card" style="background-color: lightgrey;">
        <P style="font-family: 'Orbitron', sans-serif;">PITCHES is an application that allows the user to login to the
            PITCHES application, be able to add, delete
            and and view the his/her own pitches that have been created.
            the pitches are also saved on the PITCHES database and can be referred back to at any moment by the user
            once logged in. The different categories for the pitches are sport, tech, Music and other
        </P>
    </div>
</div>
{% endblock %}