{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1 style="font-family: 'Orbitron', sans-serif;">You think you can pitch ? Show us what you got!</h1>
    <p style="font-family: 'Orbitron', sans-serif;">Add a pitch to a database of your choice and we will tell you if you
        got what it
        takes !</p>
    <form method="POST" style=" font-family: 'Orbitron' , sans-serif;">
        {{form.hidden_tag()}}
        {{form.comment.label}}{{form.comment()}}
        {{form.category}}
        {{form.submit()}}
    </form>
</div>

{% endblock %}